@model ARID.Models.FreelancerRecruiter

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FreelancerRecruiter</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ApplicationUserId" class="control-label"></label>
                <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                <span asp-validation-for="ApplicationUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FreelancerProjectId" class="control-label"></label>
                <input asp-for="FreelancerProjectId" class="form-control" />
                <span asp-validation-for="FreelancerProjectId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfRecord" class="control-label"></label>
                <input asp-for="DateOfRecord" class="form-control" />
                <span asp-validation-for="DateOfRecord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecruiterStatus" class="control-label"></label>
                <select asp-for="RecruiterStatus" class="form-control"></select>
                <span asp-validation-for="RecruiterStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportToAdmin" class="control-label"></label>
                <input asp-for="ReportToAdmin" class="form-control" />
                <span asp-validation-for="ReportToAdmin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

