<section class="row" id="features">
    <div class="container">
        <div class="heading">
            <h3>ميزات الاشتراك بمنصة أُريد</h3>
            <p>تقدم منصة "أُريد" مجموعة متميزة من الخدمات المجانية الخاصة بالباحثين الناطقين باللغة العربية لدعم حركة البحث العلمي وفق أعلى المعايير المعمول بها دولياً <br>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-unlock-alt"></i></span>
                    <h3>موقعك الإليكتروني</h3>
                    <p>يمكنك اقتناء موقع الكتروني مجاني لعرض أنشطتك وأبحاثك ومقالاتك العلمية بأسلوب جميل وشيق </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-video-camera"></i></span>
                    <h3>مستودع ملفات</h3>
                    <p>مستودع الملفات العلمية لزيادة نسخ الملفات العلمية عبر الشبكة العالمية </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-microphone"></i></span>
                    <h3>مركز خدمات الباحثين</h3>
                    <p>الآلاف من الخبراء المستقلين والمحترفين الذين يقدمون خدمات متعددة لكل ما يتعلق بالبحث العلمي سواء في مجال الترجمة أو المراجعات والاستشارات العلمية او فنون الجرافيكس</p>
                </div>
            </div>
        </div>
        <div class="row sec_top_gp">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-file-text-o"></i></span>
                    <h3>مجتمع الباحثين</h3>
                    <p>مجتمع مخصص للباحثين والخبراء والعُلماء لغرض مناقشة المواضيع المتعلقة بالبحث العلمي كلا حسب تخصصه وخبرته للعمل على نشر أبحاث علمية مشتركة</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-mobile"></i></span>
                    <h3>الأوسمة والميداليات</h3>
                    <p>تميز مع "أُريد" في مجالك عبر الحصول على الأوسمة والميداليات التي تمنحها المنصّة لأعضائها وفقاً لنشاطاتهم وتفاعلهم </p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-life-ring"></i></span>
                    <h3>رصيدك في أُريد</h3>
                    <p>يجري قياس مكانة العضو ومساهمته عبر منحه نقاط تقديرية وفقا لأنشطته على المنصة وهي نقاط تسهم في توفير منافع حقيقية للعضو </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <video width="480" height="320" controls="controls" >
                    <source src="~/images/ArARID.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 watch_text">
                <h2>ماهي منصة اريد؟</h2>
                <p>منصة "أُريد" هي مؤسسة غير ربحية يمكن التسجيل فيها مجاناً لتحقيق أهداف علمية مُتعددة الأوجه، وقد تم إنشاؤها من قبل عدد من الباحثين والخبراء من المهتمين بشؤون تطوير قدرات وطاقات وإمكانات البحث العلمي وتوسيع فرصه واستثمار ميزاته.</p>
                <p>تسعى "أُريد" الى تقديم الدعم المفتوح في مجالات البحث العلمي للباحثين الناطقة باللغة العربية عن طريق إسناد رقم معرف خاص لكل مسجل وهي خدمة مهمة للغاية حيث يمكن للعضو جمع أعماله وسيرته الذاتية ومجهوداته في مكان واحد، وإعطاء رقم معرفه الخاص (العنوان البحثي) وكذلك وضعه في بطاقة التعريف الشخصية للتعريف بشخصيته ومكانته وجهوده العلمية، كذلك تعمل "أُريد" على ربطهم الأعضاء بمجتمع يضم آلاف المتخصصين في شتى المجالات بطريقة يسهل عبرها على الجميع معرفة اختصاصات ومهارات بعضهم البعض لمناقشة الأعمال والرؤى المشتركة في وقت واحد وذلك فيما يتعلق بأهدافهم البحثية مثل المنشورات، والمنح، وبراءات الاختراع.</p>
            </div>
        </div>
    </div>
</section>

<section class="row" id="teachers">
    <div class="container">
        <div class="heading">
            <h1>
                من يستخدم أريد؟
            </h1>
            <p>
                الاساتذة، الاكاديميون، العلماء، المساهمون،
                الباحثون، الطلبة من كافة المراحل والتخصصات
                جميعهم يمكن التسجيل واستخدام خدمات اريد مجانا
            </p>
        </div>
        <table style="width:100%;">
            <tr>
                <td>
                    <img src="~/images/who/dato.gif" alt="Mohd Yakub Zulkifli Bin Mohd Yusoff" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/moselaha.gif" alt="SOLEHAH NIK NAJAH FADILAH BT HJ YAACOB" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/saad.gif" alt="Prof. Dr. Saad Mekhilef" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/yacob.gif" alt="Prof. Dr.Yakup CİVELEK" width="275" height="367" />
                </td>
            </tr>
            <tr>
                <td>
                    <h3 align="center">أ. د.محمد يعقوب ذو الكفل</h3>
                    <p align="center">عميد كلية القرآن والحديث - جامعة ملايا - ماليزيا </p>
                </td>
                <td>
                    <h3 align="center">أ.د.صالحة بنت حج يعقوب</h3>
                    <p align="center">الجامعة الاسلامية الماليزية - ماليزيا</p>
                </td>
                <td>
                    <h3 align="center">أ.د.سعد مخيلف</h3>
                    <p align="center">رئيس قسم كلية الهندسة ، جامعة ملايا ، ماليزيا </p>
                </td>
                <td>
                    <h3 align="center">أ.د.يعقوب جيولك </h3>
                    <p align="center">عميد كلية بارتين ، تركيا</p>
                </td>
            </tr>
        </table>
    </div>
</section>