<section class="row" id="features">
    <div class="container">
        <div class="heading">
            <h3>Advantages of registration in ARID platform</h3>
            <p>ARID platform offers a unique range of free services for Arabic-speaking researchers to support the scientific research advancement in accordance with the highest international standards<br>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-unlock-alt"></i></span>
                    <h3>Your website</h3>
                    <p>You can have a free website to showcase your activities, research, and scientific articles in a beautiful and engaging way</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-video-camera"></i></span>
                    <h3>Files repository</h3>
                    <p>The repository of scientific files to ease the sharing of scientific files over the World Wide Web</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-microphone"></i></span>
                    <h3>Research Services Center</h3>
                    <p>Thousands of independent experts and professionals who provide multiple services for everything related to scientific research, whether in the field of translation or reviews, scientific consultations or graphic arts</p>
                </div>
            </div>
        </div>
        <div class="row sec_top_gp">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-file-text-o"></i></span>
                    <h3>Community of researchers</h3>
                    <p>A community dedicated to researchers, experts and scientists for the purpose of discussing topics related to scientific research, each according to its specialization and expertise to work on the dissemination of joint scientific research</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-mobile"></i></span>
                    <h3>Decorations and medals</h3>
                    <p>Distinguish with "ARID" in your field by getting the decorations and medals given by the platform to its members according to their activities and interaction</p>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="membership_listing">
                    <span><i class="fa fa-life-ring"></i></span>
                    <h3>Your balance in ARID</h3>
                    <p>The status and contribution of the member are measured by giving them discretionary points according to their activities on the platform, which contribute to providing real benefits to the member</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="row">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <video width="480" height="320" controls="controls" >
                    <source src="~/images/EnARID.mp4" type="video/mp4">
                </video>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 watch_text">
                <h2>What is "ARID" platform?</h2>
                <p>ARID platform is a non-profit organization that can be registered for free to achieve multi-faceted scientific goals. It has been created by a number of researchers and experts interested in developing the capabilities, capabilities and possibilities of scientific research, expanding its opportunities and investing its advantages.</p>
                <p>ARID seeks to provide open support in the field of scientific research to Arabic-speaking researchers by assigning a special ID number to each registrar. This is a very important service where a member can collect his / her work, CV and efforts in one place and give his / In the ID card to identify his personality and his place and scientific efforts, as well as work "I want" to connect members to a community of thousands of specialists in various fields in a way that makes it easy for everyone to know the competencies and skills of each other to discuss the work and visions shared at the same time in relation to their research objectives Such as publications, grants, and patents.</p>
            </div>
        </div>
    </div>
</section>

<section class="row" id="teachers">
    <div class="container">
        <div class="heading">
            <h1>
                Who Uses ARID?
            </h1>
            <p>
                Professors, academics, scientists, contributors, researchers, students from all levels and disciplines can all register and use ARID services for free
            </p>
        </div>
        <table style="width:100%;">
            <tr>
                <td>
                    <img src="~/images/who/dato.gif" alt="Mohd Yakub Zulkifli Bin Mohd Yusoff" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/moselaha.gif" alt="SOLEHAH NIK NAJAH FADILAH BT HJ YAACOB" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/saad.gif" alt="Prof. Dr. Saad Mekhilef" width="275" height="367" />
                </td>
                <td>
                    <img src="~/images/who/yacob.gif" alt="Prof. Dr.Yakup CİVELEK" width="275" height="367" />
                </td>
            </tr>
            <tr>
                <td>
                    <h3 align="center">Prof. Dato. Dr. Mohd Yakub Zulkifili Bin Mohd Yusoff</h3>
                    <p align="center">Head of Department of Al-Quran and Al-Hadith, UM, Malaysia</p>
                </td>
                <td>
                    <h3 align="center">Prof. Dr. Solehah Nik Najah Fadilah BT HJ Yaacob</h3>
                    <p align="center">International Islamic University - Malaysia</p>
                </td>
                <td>
                    <h3 align="center">Prof. Dr. Saad Mekhilef</h3>
                    <p align="center">Department of Electrical Engineering, University Malaya</p>
                </td>
                <td>
                    <h3 align="center">Prof. Dr.Yakup Civelek</h3>
                    <p align="center">Dean of Bartin university, Turkey</p>               
                </td>
            </tr>
        </table>
    </div>
</section>