@model ARID.Models.JournalArticleType

@{
    ViewData["Title"] = "التعديل على مقالة المجلة";
}

<h2>التعديل على مقالة المجلة</h2>

<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" asp-route-jid="@ViewData["jid"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="JournalId" class="control-label"></label>
                <select asp-for="JournalId" class="form-control" asp-items="ViewBag.JournalId"></select>
                <span asp-validation-for="JournalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArticleTypeId" class="control-label"></label>
                <select asp-for="ArticleTypeId" class="form-control" asp-items="ViewBag.ArticleTypeId"></select>
                <span asp-validation-for="ArticleTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsDeleted" /> @Html.DisplayNameFor(model => model.IsDeleted)
                    </label>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="حفظ" class="btn btn-success" />
                <a class="btn btn-primary bold" asp-action="Index" asp-route-id="@ViewData["jid"]">رجوع</a>
            </div>
        </form>
    </div>
</div>
<style>
    label, h2, input[type='submit'], .bold {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bold;
    }
</style>