@model ARID.Models.VipDeclaration
@{
    ViewData["Title"] = "Create";
}
<br/>
<h1>تدوين تصريح</h1>
<br />
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="ApplicationUserId" class="control-label"></label>
                </div>
                <div class="col-lg-5">
                    <select asp-for="ApplicationUserId" class="form-control" asp-items="ViewBag.ApplicationUserId"></select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="DeclarationDate" class="control-label"></label>
                </div>
                <div class="col-lg-5">
                    <input asp-for="DeclarationDate" class="form-control" />
                    <span asp-validation-for="DeclarationDate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="DeclarationBody" class="control-label"></label>
                </div>
                <div class="col-lg-5">
                    @Html.TextAreaFor(model => model.DeclarationBody, new { rows = 10, cols = 50 })
                    <span asp-validation-for="DeclarationBody" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-lg-3">
                    <label asp-for="DeclarationOccasion" class="control-label"></label>
                </div>
                <div class="col-lg-5">
                    <input asp-for="DeclarationOccasion" class="form-control" />
                    <span asp-validation-for="DeclarationOccasion" class="text-danger"></span>
                </div>
            </div>
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-primary">Back to List</a>
            </div>
        </form>
    </div>
</div>
<div>
</div>
