@model ARID.Models.ApplicationUser
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@using System.Globalization
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    //ViewData["Title"] = @Localizer["Title"];
    ViewData["Title"] = "نقوصات وسام باحث مبادر";
}
<h2 class="text-danger">
إرسال النقوصات الخاصة بوسام باحث مبادر لجميع مستخدمين منصة اريد</h2>
<a onclick="javascript:return confirm('هذا الاجراء لايمكن التراجع عنه ، هل تود الاستمرار؟');" class="btn btn-danger h4" asp-action="CheckBadgeRequirements">إرسال</a>
@section Scripts{

}
