@model ARID.Models.Journal
@{
    ViewData["Title"] = "إضافة مجلة";
}
<h2>إضافة مجلة</h2>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArName" class="control-label"></label>
                <input asp-for="ArName" class="form-control" />
                <span asp-validation-for="ArName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnName" class="control-label"></label>
                <input asp-for="EnName" class="form-control" />
                <span asp-validation-for="EnName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArDescription" class="control-label"></label>
                <textarea asp-for="ArDescription" class="form-control"></textarea>
                <span asp-validation-for="ArDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnDescription" class="control-label"></label>
                <textarea asp-for="EnDescription" class="form-control"></textarea>
                <span asp-validation-for="EnDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortName" class="control-label"></label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PISSN" class="control-label"></label>
                <input asp-for="PISSN" class="form-control" />
                <span asp-validation-for="PISSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EISSN" class="control-label"></label>
                <input asp-for="EISSN" class="form-control" />
                <span asp-validation-for="EISSN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input type="email" asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EiCId" class="control-label"></label>
                <input asp-for="EiCId" class="form-control" asp-items="ViewBag.EditorinChiefId" />
            </div>
            <div class="form-group" id="img">
                <label asp-for="Logo" class="control-label"></label>
                <img id="img1" class="img-rounded" src="" />
                <input type="file" name="myfile" id="file" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-primary col-lg-12" />
                <input asp-for="Logo" id="fileinput" class="form-control" />
                <span asp-validation-for="Logo" class="text-danger"></span>
            </div>
            <div class="form-group" id="imgtwo">
                <label asp-for="JournalHeader" class="control-label"></label>
                <img id="img2" class="img-rounded" src="" />
                <input type="file" name="myfile1" id="file1" accept=".png,.jpg,.jpeg,.gif,.tif" class="btn btn-primary col-lg-12" />
                <input asp-for="JournalHeader" id="fileinput1" class="form-control" />
                <span asp-validation-for="JournalHeader" class="text-danger"></span>
            </div>
            <div class="form-group" id="fileform">
                <label asp-for="ReviewerCertificateBackgroundFile" class="control-label"></label>
                <input type="file" name="myfile2" id="file2" accept=".pdf" class="btn btn-primary col-lg-12" />
                <input asp-for="ReviewerCertificateBackgroundFile" id="fileinput2" class="form-control" />
                <span asp-validation-for="ReviewerCertificateBackgroundFile" class="text-danger"></span>
            </div>
            <div class="form-group" id="fileform1">
                <label asp-for="AuthorCertificateBackgroundFile" class="control-label"></label>
                <input type="file" name="myfile3" id="file3" accept=".pdf" class="btn btn-primary col-lg-12" />
                <input asp-for="AuthorCertificateBackgroundFile" id="fileinput3" class="form-control" />
                <span asp-validation-for="AuthorCertificateBackgroundFile" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <label asp-for="PublisherId" class="control-label"></label>
                <select asp-for="PublisherId" class="form-control" asp-items="ViewBag.PublisherId"></select>
                <span asp-validation-for="PublisherId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input type="submit" value="إضافة" class="btn btn-default" />
                <a asp-action="Index">العودة الى القائمة</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $("#file").change(function () {
                if ($("#file").val() != "") {
                    $("#fileinput").prop("value", $("#file").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) { $('#img1').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#file1").change(function () {
                if ($("#file1").val() != "") {
                    $("#fileinput1").prop("value", $("#file1").val().split('\\').pop());
                }
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) { $('#img2').attr('src', e.target.result); }
                    reader.readAsDataURL(this.files[0]);
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#file2").change(function () {
                if ($("#file2").val() != "") {
                    $("#fileinput2").prop("value", $("#file2").val().split('\\').pop());
                }
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $("#file3").change(function () {
                if ($("#file3").val() != "") {
                    $("#fileinput3").prop("value", $("#file3").val().split('\\').pop());
                }
            });
        });
    </script>

    <script>
        tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            //language: 'ar_SA',
            plugins: "link",
            mode: "textareas",
            relative_urls: false,
            remove_script_host: false,
            convert_urls: true,

            //plugins: "table,contextmenu,paste,-externalplugin"

        });</script>


    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
