@model ARID.Models.EmailContent

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>EmailContent</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ArSubject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ArSubject" class="form-control" />
                <span asp-validation-for="ArSubject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EnSubject" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EnSubject" class="form-control" />
                <span asp-validation-for="EnSubject" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ArContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                @*<input asp-for="ArContent" class="form-control" />*@
                                <textarea asp-for="ArContent" class="control-label"></textarea>
                                <span asp-validation-for="ArContent" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EnContent" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="EnContent" class="control-label"></textarea>
                <span asp-validation-for="EnContent" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="SenderId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="SenderId" class="form-control" asp-items="ViewBag.SenderId"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="UniqueName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="UniqueName" class="form-control" value="@ViewData["unquename"]" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
<script>
tinymce.init({
            selector: 'textarea',
            directionality: 'rtl',
            //language: 'ar_SA',
    plugins: "link",
    mode: "textareas",
    relative_urls: false,
    remove_script_host: false,
    convert_urls: true,

            //plugins: "table,contextmenu,paste,-externalplugin"

});</script>}